.bg-light {
    background-color: #fff !important;
}

nav {
    margin: 50px 0 5px 0;
}

.logo {
    max-width: 300px;
    border-color: transparent !important;
}

.header img {
    max-width: 100%;
    margin-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
}

img {
    border: 1px solid #ccc;
}

.bump50 {
    margin-bottom: 50px;
}

.card-title {
    font-size: 14px;
}

h1 {
    margin-bottom: 10px;
}