.bg-light {
    background-color: #fff !important;
}

nav {
    margin: 0px 0 5px 0;
}

.logo {
    max-width: 300px;
    border-color: transparent !important;
}

.header img {
    max-width: 100%;
    margin-bottom: 50px;
}

section h1 {
    text-transform: uppercase;
}

img {
    border: 1px solid #ccc;
}

.bump50 {
    margin-bottom: 50px;
}

.card-title {
    font-size: 14px;
}

h1 {
    margin-bottom: 10px;
}

.border0 {
    border-color: transparent;
}

.rank {
    font-size: 14px; 
    color: #666;
}

.card-text a {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    padding: 5px 0px;
    width: 50%;
    margin: 20px auto 2px;
    background: #fff;
    color: #000;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    border-top-right-radius: 10px;
}

.card-text a:hover {
    background-color: #666;
    color: #f47523;
}

.press a {
    font-size: 20px;
    color: #f47523;
    text-decoration: none;
}

.press a:hover {
    text-decoration: underline;
}

.date {
    color: #666;
    font-size: 14px;
    margin: 0;
}

footer {
    padding-top: 50px;
    border-top: 1px solid #666;
}

h3 {
    font-size: 14px;
    color: #666;
}


img.mr-3 {
    max-width: 200px;
    float: left;
    margin-right: 15px;
}